Version 1.1.0

# Mean encodings

In this programming assignment you will be working with `1C` dataset from the final competition. You are asked to encode `item_id` in 4 different ways:

    1) Via KFold scheme;  
    2) Via Leave-one-out scheme;
    3) Via smoothing scheme;
    4) Via expanding mean scheme.

**You will need to submit** the correlation coefficient between resulting encoding and target variable up to 4 decimal places.

### General tips

* Fill NANs in the encoding with `0.3343`.
* Some encoding schemes depend on sorting order, so in order to avoid confusion, please use the following code snippet to construct the data frame. This snippet also implements mean encoding without regularization.

In [1]:
import pandas as pd
import numpy as np
from itertools import product
from grader import Grader

# Read data

In [2]:
sales = pd.read_csv('../readonly/final_project_data/sales_train.csv.gz')

In [3]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

# Aggregate data

Since the competition task is to make a monthly prediction, we need to aggregate the data to montly level before doing any encodings. The following code-cell serves just that purpose.

In [4]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

# For every month we create a grid from all shops/items combinations from that month
grid = [] 
for block_num in sales['date_block_num'].unique():
    cur_shops = sales[sales['date_block_num']==block_num]['shop_id'].unique()
    cur_items = sales[sales['date_block_num']==block_num]['item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

#turn the grid into pandas dataframe
grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

In [5]:
grid.head()

   shop_id  item_id  date_block_num
0       59    22154               0
1       59     2552               0
2       59     2554               0
3       59     2555               0
4       59     2564               0

In [5]:
#get aggregated values for (shop_id, item_id, month)
gb = sales.groupby(index_cols,as_index=False).agg({'item_cnt_day': 'sum'}) \
                                             .rename(columns={'item_cnt_day': 'target'})

In [7]:
gb.head()

   shop_id  item_id  date_block_num  target
0        0       30               1    31.0
1        0       31               1    11.0
2        0       32               0     6.0
3        0       32               1    10.0
4        0       33               0     3.0

In [6]:
gb.columns.values

array(['shop_id', 'item_id', 'date_block_num', 'target'], dtype=object)

In [6]:
# #fix column names
# gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values]
#join aggregated data to the grid
all_data = pd.merge(grid,gb,how='left',on=index_cols).fillna(0)
#sort the data
all_data.sort_values(['date_block_num','shop_id','item_id'],inplace=True)

In [9]:
all_data.head()

        shop_id  item_id  date_block_num  target
139255        0       19               0     0.0
141495        0       27               0     0.0
144968        0       28               0     0.0
142661        0       29               0     0.0
138947        0       32               0     6.0

In [23]:
all_data.target.value_counts()

0.0      9307309
1.0      1058825
2.0       265502
3.0       103227
4.0        53327
          ...
369.0          1
370.0          1
371.0          1
373.0          1
228.0          1
Name: target, Length: 446, dtype: int64

In [24]:
all_data.target.mean()

0.3342730567123426

# Mean encodings without regularization

After we did the techinical work, we are ready to actually *mean encode* the desired `item_id` variable. 

Here are two ways to implement mean encoding features *without* any regularization. You can use this code as a starting point to implement regularized techniques.

#### Method 1

In [10]:
item_id_target_mean = all_data.groupby('item_id').target.mean()

In [11]:
item_id_target_mean

item_id
0        0.020000
1        0.023810
2        0.019802
3        0.019802
4        0.020000
           ...
22165    0.021277
22166    0.295918
22167    1.081081
22168    0.032967
22169    0.020833
Name: target, Length: 21807, dtype: float64

In [7]:
# Calculate a mapping: {item_id: target_mean}
item_id_target_mean = all_data.groupby('item_id').target.mean()

# In our non-regularized case we just *map* the computed means to the `item_id`'s
all_data['item_target_enc'] = all_data['item_id'].map(item_id_target_mean)

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.4830386988621699

In [8]:
all_data['item_id'].map(item_id_target_mean)

139255      0.022222
141495      0.056834
144968      0.141176
142661      0.037383
138947      1.319042
              ...
10768834    1.556793
10769024    0.581395
10769690    1.235589
10771216    0.295918
10770511    1.081081
Name: item_id, Length: 10913850, dtype: float64

In [13]:
item_id_target_mean_dict = dict(item_id_target_mean)
item_id_target_mean_dict

{0: 0.02,
 1: 0.023809523809523808,
 2: 0.019801980198019802,
 3: 0.019801980198019802,
 4: 0.02,
 5: 0.02,
 6: 0.02,
 7: 0.02,
 8: 0.019801980198019802,
 9: 0.0196078431372549,
 10: 0.02,
 11: 0.02,
 12: 0.021739130434782608,
 13: 0.02,
 14: 0.02,
 15: 0.02,
 16: 0.02,
 17: 0.02,
 18: 0.0196078431372549,
 19: 0.022222222222222223,
 20: 0.0196078431372549,
 21: 0.02,
 22: 0.02127659574468085,
 23: 0.02127659574468085,
 24: 0.02127659574468085,
 25: 0.0196078431372549,
 26: 0.019230769230769232,
 27: 0.056833558863328824,
 28: 0.1411764705882353,
 29: 0.037383177570093455,
 30: 1.355613238157041,
 31: 0.9312134977287476,
 32: 1.3190416141235812,
 33: 0.5271122320302648,
 34: 0.14610778443113773,
 35: 0.9446808510638298,
 36: 0.06913996627318718,
 37: 0.15311510031678988,
 38: 0.09984871406959153,
 39: 0.03867403314917127,
 40: 0.0709433962264151,
 41: 0.08582834331337326,
 42: 0.0705958549222798,
 43: 0.032846715328467155,
 44: 0.08677337826453244,
 45: 0.11097099621689786,
 46: 0.05844980940279543,
 47: 0.07604017216642754,
 48: 0.06900452488687783,
 49: 0.11664564943253468,
 50: 0.044444444444444446,
 51: 0.14880201765447668,
 52: 0.0672358591248666,
 53: 0.11979823455233292,
 54: 0.07312614259597806,
 55: 0.1125748502994012,
 56: 0.05298913043478261,
 57: 0.09836065573770492,
 58: 0.022222222222222223,
 59: 0.1574854180168503,
 60: 0.07116788321167883,
 61: 0.043795620437956206,
 62: 0.17703349282296652,
 63: 0.05625,
 64: 0.1426403641881639,
 65: 0.06016042780748663,
 66: 0.09370199692780339,
 67: 0.2621082621082621,
 68: 0.021739130434782608,
 69: 0.35294117647058826,
 70: 0.35947712418300654,
 71: 0.04574132492113565,
 72: 0.07397959183673469,
 73: 0.03272727272727273,
 74: 0.042662116040955635,
 75: 0.07846153846153846,
 76: 0.4473684210526316,
 77: 1.0956749672346002,
 78: 0.4263803680981595,
 79: 0.15057915057915058,
 80: 0.02586206896551724,
 81: 0.1087866108786611,
 82: 0.023746701846965697,
 84: 0.03663003663003663,
 85: 0.10444874274661509,
 86: 0.021897810218978103,
 87: 0.04285714285714286,
 88: 0.058029689608636977,
 89: 0.06763285024154589,
 90: 1.100334448160535,
 91: 0.4839650145772595,
 92: 0.021739130434782608,
 93: 0.1105929380413058,
 94: 0.040293040293040296,
 95: 0.05701754385964912,
 96: 0.08025477707006369,
 97: 0.24752475247524752,
 98: 1.686131386861314,
 99: 0.16695352839931152,
 100: 0.06944444444444445,
 101: 0.023728813559322035,
 102: 0.02040816326530612,
 103: 0.022727272727272728,
 104: 0.021739130434782608,
 105: 0.021739130434782608,
 106: 0.022222222222222223,
 107: 0.021505376344086023,
 108: 0.020618556701030927,
 109: 0.07476635514018691,
 110: 0.045454545454545456,
 111: 0.05463182897862233,
 112: 0.02040816326530612,
 113: 0.095703125,
 114: 0.022222222222222223,
 115: 0.07664233576642336,
 116: 0.02127659574468085,
 117: 0.023255813953488372,
 118: 0.02142857142857143,
 119: 0.021739130434782608,
 120: 0.021739130434782608,
 121: 0.021739130434782608,
 122: 0.02040816326530612,
 123: 0.021739130434782608,
 124: 0.021739130434782608,
 125: 0.02127659574468085,
 126: 0.04,
 127: 0.04,
 128: 0.02,
 129: 0.04,
 130: 0.02,
 131: 0.04,
 132: 0.021739130434782608,
 133: 0.08493150684931507,
 134: 0.022222222222222223,
 135: 0.020833333333333332,
 136: 0.03296703296703297,
 137: 0.02127659574468085,
 138: 0.045454545454545456,
 139: 0.022727272727272728,
 141: 0.02,
 142: 0.046511627906976744,
 143: 0.021505376344086023,
 144: 0.021739130434782608,
 145: 0.02,
 146: 0.022727272727272728,
 147: 0.022727272727272728,
 148: 0.023809523809523808,
 149: 0.11471160077770577,
 150: 0.022099447513812154,
 151: 0.0875,
 152: 0.0705596107055961,
 153: 0.10254645560908465,
 154: 0.1796875,
 155: 0.16277472527472528,
 156: 0.15943962641761175,
 157: 0.023255813953488372,
 158: 0.023076923076923078,
 159: 0.022727272727272728,
 160: 0.023255813953488372,
 161: 0.023255813953488372,
 162: 0.023809523809523808,
 163: 0.02197802197802198,
 164: 0.021739130434782608,
 165: 0.021739130434782608,
 166: 0.06301050175029171,
 167: 0.023255813953488372,
 169: 0.02,
 170: 0.021052631578947368,
 171: 0.023255813953488372,
 172: 0.023255813953488372,
 174: 0.022727272727272728,
 175: 0.03125,
 176: 0.02197802197802198,
 177: 0.06586021505376344,
 178: 0.019230769230769232,
 179: 0.02,
 180: 0.023255813953488372,
 181: 0.022727272727272728,
 182: 0.045454545454545456,
 183: 0.022727272727272728,
 184: 0.022727272727272728,
 185: 0.022727272727272728,
 186: 0.045454545454545456,
 187: 0.022727272727272728,
 188: 0.022727272727272728,
 189: 0.045454545454545456,
 190: 0.022727272727272728,
 191: 0.022988505747126436,
 192: 0.022727272727272728,
 193: 0.022727272727272728,
 194: 0.022727272727272728,
 195: 0.023255813953488372,
 196: 0.02197802197802198,
 197: 0.07175712971481141,
 198: 0.0273224043715847,
 199: 0.08302583025830258,
 200: 0.0273224043715847,
 201: 0.022727272727272728,
 202: 0.08266666666666667,
 203: 0.046511627906976744,
 205: 0.0703125,
 206: 0.023255813953488372,
 207: 0.023255813953488372,
 208: 0.022727272727272728,
 209: 0.021739130434782608,
 210: 0.09315866084425037,
 211: 0.023255813953488372,
 212: 0.023255813953488372,
 213: 0.1318181818181818,
 214: 0.02247191011235955,
 215: 0.022222222222222223,
 216: 0.023255813953488372,
 217: 0.023255813953488372,
 218: 0.021739130434782608,
 219: 0.023809523809523808,
 220: 0.02,
 221: 0.021739130434782608,
 222: 0.021739130434782608,
 223: 0.021739130434782608,
 224: 0.051094890510948905,
 225: 0.06395348837209303,
 226: 0.06094968107725018,
 227: 0.022222222222222223,
 228: 0.06620689655172414,
 229: 0.022727272727272728,
 230: 0.06772009029345373,
 231: 0.023255813953488372,
 232: 0.021739130434782608,
 233: 0.021739130434782608,
 234: 0.07516339869281045,
 235: 0.021739130434782608,
 236: 0.02,
 238: 0.045454545454545456,
 239: 0.023255813953488372,
 240: 0.023255813953488372,
 241: 0.023255813953488372,
 242: 0.022222222222222223,
 243: 0.043478260869565216,
 244: 0.026737967914438502,
 245: 0.022727272727272728,
 246: 0.04666666666666667,
 247: 0.02,
 248: 0.08139534883720931,
 250: 0.0196078431372549,
 251: 0.021897810218978103,
 252: 0.023809523809523808,
 253: 0.06089508437270726,
 255: 0.023255813953488372,
 256: 0.02127659574468085,
 257: 0.07074175824175824,
 258: 0.0989010989010989,
 259: 0.1044776119402985,
 260: 0.02040816326530612,
 261: 0.02127659574468085,
 262: 0.020833333333333332,
 263: 0.03296703296703297,
 264: 0.020833333333333332,
 265: 0.04945054945054945,
 266: 0.02040816326530612,
 267: 0.0684931506849315,
 268: 0.023255813953488372,
 269: 0.05642023346303502,
 270: 0.02,
 271: 0.03296703296703297,
 272: 0.02185792349726776,
 273: 0.021739130434782608,
 274: 0.043478260869565216,
 275: 0.02040816326530612,
 276: 0.06755555555555555,
 277: 0.04945054945054945,
 278: 0.021739130434782608,
 279: 0.022222222222222223,
 280: 0.021739130434782608,
 281: 0.046511627906976744,
 282: 0.046511627906976744,
 283: 0.031007751937984496,
 284: 0.023255813953488372,
 285: 0.02127659574468085,
 286: 0.022727272727272728,
 287: 0.023255813953488372,
 288: 0.023255813953488372,
 289: 0.022727272727272728,
 290: 0.021739130434782608,
 291: 0.02127659574468085,
 292: 0.038314176245210725,
 293: 0.065,
 294: 0.05128205128205128,
 295: 0.03838771593090211,
 296: 0.023529411764705882,
 297: 0.02631578947368421,
 298: 0.035110533159947985,
 299: 0.025210084033613446,
 300: 0.02,
 301: 0.021505376344086023,
 303: 0.02040816326530612,
 304: 0.023255813953488372,
 305: 0.021739130434782608,
 306: 0.06861499364675985,
 307: 0.041666666666666664,
 308: 0.12799495586380832,
 309: 0.02127659574468085,
 310: 0.021739130434782608,
 311: 0.021739130434782608,
 312: 0.021739130434782608,
 313: 0.08294930875576037,
 314: 0.022988505747126436,
 315: 0.022727272727272728,
 316: 0.029197080291970802,
 317: 0.053125,
 318: 0.021739130434782608,
 319: 0.021739130434782608,
 320: 0.07708779443254818,
 321: 0.08791208791208792,
 322: 0.04186046511627907,
 323: 0.07142857142857142,
 324: 0.03875968992248062,
 325: 0.10529634300126103,
 326: 0.021739130434782608,
 327: 0.022727272727272728,
 328: 0.021739130434782608,
 329: 0.05701754385964912,
 330: 0.02040816326530612,
 331: 0.02127659574468085,
 332: 0.023255813953488372,
 333: 0.022222222222222223,
 334: 0.02066115702479339,
 335: 0.02197802197802198,
 336: 0.02158273381294964,
 337: 0.023255813953488372,
 338: 0.06521739130434782,
 339: 0.02112676056338028,
 340: 0.023255813953488372,
 341: 0.020833333333333332,
 342: 0.022222222222222223,
 343: 0.02027027027027027,
 344: 0.02040816326530612,
 345: 0.020618556701030927,
 346: 0.020202020202020204,
 347: 0.022222222222222223,
 348: 0.021739130434782608,
 349: 0.023255813953488372,
 350: 0.023255813953488372,
 351: 0.05286343612334802,
 352: 0.023255813953488372,
 353: 0.022388059701492536,
 354: 0.06569343065693431,
 355: 0.021739130434782608,
 356: 0.037209302325581395,
 357: 0.07332293291731669,
 358: 0.02,
 359: 0.02,
 360: 0.02,
 361: 0.02,
 362: 0.02127659574468085,
 363: 0.021739130434782608,
 364: 0.022727272727272728,
 365: 0.021739130434782608,
 366: 0.03825136612021858,
 367: 0.023809523809523808,
 368: 0.023809523809523808,
 369: 0.021739130434782608,
 370: 0.021739130434782608,
 371: 0.071875,
 372: 0.06140350877192982,
 373: 0.06781376518218624,
 374: 0.02,
 375: 0.03134796238244514,
 376: 0.023809523809523808,
 377: 0.0196078431372549,
 378: 0.02127659574468085,
 379: 0.023255813953488372,
 380: 0.023809523809523808,
 381: 0.02127659574468085,
 382: 0.021739130434782608,
 383: 0.02127659574468085,
 384: 0.06365313653136531,
 385: 0.09216589861751152,
 386: 0.02,
 387: 0.04,
 388: 0.0800552104899931,
 389: 0.06875,
 390: 0.020618556701030927,
 391: 0.02247191011235955,
 392: 0.06112054329371817,
 393: 0.02,
 394: 0.021897810218978103,
 395: 0.021505376344086023,
 396: 0.02,
 397: 0.023255813953488372,
 398: 0.023255813953488372,
 399: 0.023255813953488372,
 400: 0.020833333333333332,
 401: 0.021739130434782608,
 403: 0.021739130434782608,
 404: 0.021739130434782608,
 405: 0.02591792656587473,
 406: 0.022222222222222223,
 407: 0.06152849740932642,
 408: 0.08133333333333333,
 409: 0.045454545454545456,
 410: 0.1258445945945946,
 411: 0.021739130434782608,
 412: 0.02127659574468085,
 413: 0.07597402597402597,
 414: 0.03414634146341464,
 415: 0.023255813953488372,
 416: 0.020833333333333332,
 417: 0.021739130434782608,
 418: 0.021739130434782608,
 419: 0.023255813953488372,
 420: 0.02040816326530612,
 421: 0.06258890469416785,
 422: 0.022222222222222223,
 423: 0.02262443438914027,
 424: 0.027472527472527472,
 425: 0.021739130434782608,
 426: 0.021739130434782608,
 427: 0.021739130434782608,
 429: 0.02158273381294964,
 431: 0.021739130434782608,
 432: 0.02247191011235955,
 433: 0.0196078431372549,
 434: 0.020833333333333332,
 435: 0.05701754385964912,
 436: 0.022222222222222223,
 437: 0.02,
 438: 0.103125,
 439: 0.049315068493150684,
 440: 0.023255813953488372,
 441: 0.021739130434782608,
 442: 0.021739130434782608,
 443: 0.02,
 444: 0.02,
 445: 0.022727272727272728,
 446: 0.021739130434782608,
 447: 0.021739130434782608,
 448: 0.09962168978562422,
 449: 0.021739130434782608,
 450: 0.02,
 451: 0.05474452554744526,
 452: 0.02127659574468085,
 453: 0.03225806451612903,
 455: 0.021505376344086023,
 456: 0.023255813953488372,
 457: 0.023809523809523808,
 458: 0.021739130434782608,
 459: 0.021739130434782608,
 460: 0.044715447154471545,
 461: 0.022727272727272728,
 462: 0.023255813953488372,
 463: 0.02,
 464: 0.6923076923076923,
 465: 0.023255813953488372,
 466: 0.023255813953488372,
 467: 0.023809523809523808,
 468: 0.021739130434782608,
 469: 0.021739130434782608,
 470: 0.02510460251046025,
 471: 0.3132716049382716,
 472: 0.549344375431332,
 473: 0.3181818181818182,
 474: 0.04287045666356011,
 475: 0.024883359253499222,
 476: 0.0273972602739726,
 477: 0.04108108108108108,
 478: 0.05505341002465078,
 479: 0.06571187868576242,
 481: 0.1510791366906475,
 482: 1.7080706179066836,
 483: 0.017421602787456445,
 484: 0.71648987463838,
 485: 2.4899598393574296,
 486: 2.6804915514592933,
 487: 0.022727272727272728,
 488: 0.023923444976076555,
 489: 0.022727272727272728,
 490: 0.022944550669216062,
 491: 0.4646910466582598,
 492: 1.5830363506771206,
 493: 0.12249208025343189,
 494: 0.1573389651531151,
 495: 0.047619047619047616,
 496: 0.18726355611601514,
 497: 0.08091603053435115,
 498: 0.13297150610583447,
 499: 0.02197802197802198,
 500: 0.021739130434782608,
 501: 0.022222222222222223,
 502: 0.051601423487544484,
 503: 0.051130776794493606,
 504: 0.04553903345724907,
 505: 0.03058103975535168,
 506: 0.042833607907743,
 507: 0.02097902097902098,
 508: 0.04552590266875981,
 509: 0.021739130434782608,
 510: 0.02247191011235955,
 511: 0.021739130434782608,
 512: 0.020833333333333332,
 513: 0.021739130434782608,
 514: 0.031914893617021274,
 515: 0.06414825374198146,
 516: 0.030395136778115502,
 517: 0.02127659574468085,
 518: 0.021739130434782608,
 519: 0.02197802197802198,
 520: 0.030959752321981424,
 521: 0.029689608636977057,
 522: 0.024464831804281346,
 523: 0.020833333333333332,
 524: 0.027472527472527472,
 525: 0.05090909090909091,
 526: 0.02197802197802198,
 527: 0.021505376344086023,
 528: 0.028720626631853787,
 529: 0.022222222222222223,
 530: 0.022222222222222223,
 531: 0.022222222222222223,
 532: 0.023255813953488372,
 533: 0.026595744680851064,
 534: 0.29855810008481765,
 535: 0.03952095808383234,
 536: 0.0570409982174688,
 537: 0.02097902097902098,
 538: 0.02,
 539: 0.030249110320284697,
 540: 0.03296703296703297,
 541: 0.049723756906077346,
 542: 0.02127659574468085,
 543: 0.022727272727272728,
 544: 0.09766454352441614,
 545: 0.056363636363636366,
 546: 0.0547945205479452,
 547: 0.022727272727272728,
 548: 0.04864864864864865,
 549: 0.021505376344086023,
 550: 0.022222222222222223,
 551: 0.028368794326241134,
 552: 0.02197802197802198,
 553: 0.04636785162287481,
 554: 0.06655574043261231,
 555: 0.06290672451193059,
 556: 0.2717948717948718,
 557: 0.0213903743315508,
 558: 0.1431159420289855,
 559: 0.030837004405286344,
 560: 0.21994134897360704,
 561: 0.022222222222222223,
 562: 0.021367521367521368,
 563: 0.0448318804483188,
 564: 0.03484848484848485,
 565: 0.07888040712468193,
 567: 0.026041666666666668,
 568: 0.021897810218978103,
 569: 0.021739130434782608,
 570: 0.021052631578947368,
 571: 0.022058823529411766,
 572: 0.02544529262086514,
 573: 0.045454545454545456,
 574: 0.027375201288244767,
 575: 0.02391304347826087,
 576: 0.028021015761821366,
 577: 0.027613412228796843,
 578: 0.021333333333333333,
 579: 0.021739130434782608,
 580: 0.019801980198019802,
 581: 0.03713527851458886,
 582: 0.021739130434782608,
 583: 0.02480916030534351,
 584: 0.023255813953488372,
 585: 0.039627039627039624,
 586: 0.022988505747126436,
 587: 0.058355437665782495,
 588: 0.023255813953488372,
 589: 0.07346938775510205,
 590: 0.023255813953488372,
 591: 0.044444444444444446,
 592: 0.025936599423631124,
 593: 0.021739130434782608,
 594: 0.021739130434782608,
 595: 0.022727272727272728,
 596: 0.021739130434782608,
 597: 0.023255813953488372,
 598: 0.02040816326530612,
 599: 0.023255813953488372,
 600: 0.021929824561403508,
 601: 0.023255813953488372,
 602: 0.050359712230215826,
 603: 0.023255813953488372,
 604: 0.02040816326530612,
 605: 0.022222222222222223,
 606: 0.023255813953488372,
 607: 0.021505376344086023,
 608: 0.03260869565217391,
 609: 0.023255813953488372,
 610: 0.020833333333333332,
 611: 0.0364741641337386,
 612: 0.03067484662576687,
 613: 0.02,
 614: 0.02,
 615: 0.021739130434782608,
 616: 0.030434782608695653,
 617: 0.022988505747126436,
 618: 0.0338680926916221,
 619: 0.023529411764705882,
 620: 0.02109704641350211,
 621: 0.022026431718061675,
 622: 0.02694610778443114,
 623: 0.020618556701030927,
 624: 0.026392961876832845,
 625: 0.021739130434782608,
 626: 0.029411764705882353,
 627: 0.02975206611570248,
 628: 0.02197802197802198,
 629: 0.023206751054852322,
 630: 0.02717391304347826,
 631: 0.022222222222222223,
 632: 0.026859504132231406,
 633: 0.022988505747126436,
 634: 0.02,
 635: 0.021739130434782608,
 636: 0.023255813953488372,
 637: 0.022222222222222223,
 638: 0.06278026905829596,
 641: 0.02072538860103627,
 642: 0.3546511627906977,
 643: 0.02857142857142857,
 644: 0.023504273504273504,
 645: 0.022727272727272728,
 646: 0.021739130434782608,
 647: 0.023255813953488372,
 648: 0.022222222222222223,
 649: 0.021148036253776436,
 650: 0.02586206896551724,
 651: 0.3231441048034934,
 652: 0.03770739064856712,
 653: 0.041237113402061855,
 654: 0.021739130434782608,
 655: 0.02,
 656: 0.025048169556840076,
 657: 0.3260233918128655,
 658: 0.13851992409867173,
 659: 0.02247191011235955,
 660: 0.02247191011235955,
 661: 0.021052631578947368,
 662: 0.045454545454545456,
 663: 0.02112676056338028,
 664: 0.021897810218978103,
 665: 0.021052631578947368,
 666: 0.024734982332155476,
 667: 0.02127659574468085,
 668: 0.02197802197802198,
 669: 0.03296703296703297,
 670: 0.02142857142857143,
 671: 0.021538461538461538,
 672: 0.021739130434782608,
 673: 0.02072538860103627,
 674: 0.02197802197802198,
 675: 0.027247956403269755,
 676: 0.021739130434782608,
 677: 0.3066485753052917,
 678: 0.020202020202020204,
 679: 0.02040816326530612,
 680: 0.02464788732394366,
 681: 0.022222222222222223,
 682: 0.020080321285140562,
 683: 0.022026431718061675,
 684: 0.0196078431372549,
 685: 0.022727272727272728,
 686: 0.054532056005895356,
 687: 0.5258511979823455,
 688: 0.1235480464625132,
 689: 0.020833333333333332,
 690: 0.03314917127071823,
 691: 0.021739130434782608,
 692: 0.021739130434782608,
 693: 0.021897810218978103,
 694: 0.020833333333333332,
 695: 0.03134796238244514,
 696: 0.022727272727272728,
 697: 0.021739130434782608,
 698: 0.05263157894736842,
 699: 0.051094890510948905,
 700: 0.8078602620087336,
 701: 0.08778625954198473,
 702: 0.022727272727272728,
 703: 0.022727272727272728,
 704: 0.022222222222222223,
 705: 0.02197802197802198,
 706: 0.03225806451612903,
 707: 0.02373887240356083,
 708: 0.0072992700729927005,
 709: 0.02040816326530612,
 710: 0.022727272727272728,
 711: 0.0425531914893617,
 712: 0.023255813953488372,
 713: 0.02185792349726776,
 714: 0.022222222222222223,
 715: 0.1092896174863388,
 716: 0.2866043613707165,
 717: 0.038461538461538464,
 718: 0.0611183355006502,
 719: 0.03488372093023256,
 720: 0.02127659574468085,
 721: 0.022222222222222223,
 722: 0.021052631578947368,
 723: 0.02040816326530612,
 724: 0.02142857142857143,
 725: 0.022222222222222223,
 726: 0.021505376344086023,
 727: 0.028985507246376812,
 728: 0.021739130434782608,
 729: 0.021739130434782608,
 730: 0.022727272727272728,
 731: 0.025974025974025976,
 732: 0.022727272727272728,
 733: 0.022388059701492536,
 734: 0.022727272727272728,
 735: 0.029197080291970802,
 736: 0.022727272727272728,
 737: 0.022727272727272728,
 738: 0.022727272727272728,
 739: 0.022727272727272728,
 740: 0.022222222222222223,
 741: 0.022727272727272728,
 742: 0.02097902097902098,
 743: 0.022222222222222223,
 744: 0.022727272727272728,
 745: 0.021897810218978103,
 746: 0.022727272727272728,
 747: 0.022727272727272728,
 748: 0.02109704641350211,
 749: 0.022727272727272728,
 750: 0.022727272727272728,
 751: 0.02197802197802198,
 752: 0.025362318840579712,
 753: 0.044444444444444446,
 754: 0.02040816326530612,
 755: 0.02735562310030395,
 756: 0.037267080745341616,
 757: 0.020942408376963352,
 758: 0.022222222222222223,
 759: 0.022988505747126436,
 760: 0.021739130434782608,
 761: 0.02040816326530612,
 763: 0.02,
 764: 0.02127659574468085,
 765: 0.020833333333333332,
 766: 0.030303030303030304,
 767: 0.02,
 768: 0.027586206896551724,
 769: 0.030612244897959183,
 770: 0.025423728813559324,
 771: 0.022222222222222223,
 772: 0.02158273381294964,
 773: 0.02553191489361702,
 774: 0.021505376344086023,
 775: 0.021538461538461538,
 776: 0.020689655172413793,
 777: 0.02127659574468085,
 778: 0.02197802197802198,
 779: 0.022222222222222223,
 780: 0.025210084033613446,
 781: 0.02717391304347826,

In [14]:
all_data['item_id'].map(item_id_target_mean_dict)

139255      0.022222
141495      0.056834
144968      0.141176
142661      0.037383
138947      1.319042
              ...
10768834    1.556793
10769024    0.581395
10769690    1.235589
10771216    0.295918
10770511    1.081081
Name: item_id, Length: 10913850, dtype: float64

#### Method 2

In [10]:
all_data.groupby('item_id').target.mean()

item_id
0        0.020000
1        0.023810
2        0.019802
3        0.019802
4        0.020000
           ...
22165    0.021277
22166    0.295918
22167    1.081081
22168    0.032967
22169    0.020833
Name: target, Length: 21807, dtype: float64

In [26]:
all_data.groupby('item_id')['target'].transform('mean')

139255      0.022222
141495      0.056834
144968      0.141176
142661      0.037383
138947      1.319042
              ...
10768834    1.556793
10769024    0.581395
10769690    1.235589
10771216    0.295918
10770511    1.081081
Name: target, Length: 10913850, dtype: float64

In [11]:
'''
     Differently to `.target.mean()` function `transform` 
   will return a dataframe with an index like in `all_data`.
   Basically this single line of code is equivalent to the first two lines from of Method 1.
'''
all_data['item_target_enc'] = all_data.groupby('item_id')['target'].transform('mean')

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.4830386988621699

See the printed value? It is the correlation coefficient between the target variable and your new encoded feature. You need to **compute correlation coefficient** between the encodings, that you will implement and **submit those to coursera**.

In [12]:
grader = Grader()

# 1. KFold scheme

Explained starting at 41 sec of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

**Now it's your turn to write the code!** 

You may use 'Regularization' video as a reference for all further tasks.

First, implement KFold scheme with five folds. Use KFold(5) from sklearn.model_selection. 

1. Split your data in 5 folds with `sklearn.model_selection.KFold` with `shuffle=False` argument.
2. Iterate through folds: use all but the current fold to calculate mean target for each level `item_id`, and  fill the current fold.

    *  See the **Method 1** from the example implementation. In particular learn what `map` and pd.Series.map functions do. They are pretty handy in many situations.

In [35]:
all_data.head()

        shop_id  item_id  date_block_num  target
139255        0       19               0     0.0
141495        0       27               0     0.0
144968        0       28               0     0.0
142661        0       29               0     0.0
138947        0       32               0     6.0

In [ ]:
all

In [59]:
all_data = all_data.drop('item_target_enc', axis=1)

In [13]:
from sklearn.model_selection import KFold

In [89]:
all_data['item_target_enc'] = 0.

In [91]:
all_data

          shop_id  item_id  date_block_num  target  item_target_enc
139255          0       19               0     0.0              0.0
141495          0       27               0     0.0              0.0
144968          0       28               0     0.0              0.0
142661          0       29               0     0.0              0.0
138947          0       32               0     6.0              0.0
...           ...      ...             ...     ...              ...
10768834       59    22162              33     0.0              0.0
10769024       59    22163              33     0.0              0.0
10769690       59    22164              33     0.0              0.0
10771216       59    22166              33     0.0              0.0
10770511       59    22167              33     0.0              0.0

[10913850 rows x 5 columns]

In [63]:
all_data['item_target_enc'].loc[[0, 1]]

0    0.3343
1    0.3343
Name: item_target_enc, dtype: float64

In [64]:
all_data['item_target_enc'].loc[test_index]

8731080     0.3343
8731081     0.3343
8731082     0.3343
8731083     0.3343
8731084     0.3343
             ...
10913845    0.3343
10913846    0.3343
10913847    0.3343
10913848    0.3343
10913849    0.3343
Name: item_target_enc, Length: 2182770, dtype: float64

In [67]:
all_data['item_id'].loc[test_index].map(all_data.loc[train_index].groupby('item_id').target.mean())

8731080     1.352113
8731081     0.402192
8731082     0.133460
8731083     0.220000
8731084     0.343170
              ...
10913845         NaN
10913846    0.020408
10913847         NaN
10913848    0.020202
10913849         NaN
Name: item_id, Length: 2182770, dtype: float64

In [75]:
all_data['item_target_enc'].loc[test_index] = all_data['item_id'].loc[test_index].map(all_data.loc[train_index].groupby('item_id').target.mean())

/home/ivan/venvs/kaggle/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [81]:
all_data['item_id'].loc[test_index].map(all_data.loc[train_index].groupby('item_id').target.mean()).fillna(0.)

8731080     1.352113
8731081     0.402192
8731082     0.133460
8731083     0.220000
8731084     0.343170
              ...
10913845    0.000000
10913846    0.020408
10913847    0.000000
10913848    0.020202
10913849    0.000000
Name: item_id, Length: 2182770, dtype: float64

In [97]:
all_data['item_target_enc'] += all_data['item_id'].loc[test_index].map(all_data.loc[train_index].groupby('item_id').target.mean()).fillna(0.)

In [98]:
all_data['item_target_enc'].loc[test_index]

8731080     1.352113
8731081     0.402192
8731082     0.133460
8731083     0.220000
8731084     0.343170
              ...
10913845    0.000000
10913846    0.020408
10913847    0.000000
10913848    0.020202
10913849    0.000000
Name: item_target_enc, Length: 2182770, dtype: float64

In [99]:
testset = all_data['item_target_enc'].loc[test_index]

In [100]:
part1 = testset[:10]
part2 = testset[10:20]

In [101]:
part1

8731080    1.352113
8731081    0.402192
8731082    0.133460
8731083    0.220000
8731084    0.343170
8731085    0.333333
8731086    0.225000
8731087    1.393939
8731088    0.535354
8731089    1.969697
Name: item_target_enc, dtype: float64

In [102]:
part2

8731090    0.515152
8731091    1.181818
8731092    2.101010
8731093    1.353535
8731094    0.666948
8731095    0.290894
8731096    1.484848
8731097    1.686869
8731098    3.121212
8731099    0.029412
Name: item_target_enc, dtype: float64

In [103]:
pd.concat([part1, part2])

8731080    1.352113
8731081    0.402192
8731082    0.133460
8731083    0.220000
8731084    0.343170
8731085    0.333333
8731086    0.225000
8731087    1.393939
8731088    0.535354
8731089    1.969697
8731090    0.515152
8731091    1.181818
8731092    2.101010
8731093    1.353535
8731094    0.666948
8731095    0.290894
8731096    1.484848
8731097    1.686869
8731098    3.121212
8731099    0.029412
Name: item_target_enc, dtype: float64

In [65]:
all_data.loc[train_index].groupby('item_id').target.mean()

item_id
0        0.020000
1        0.023810
2        0.019802
3        0.019802
4        0.020000
           ...
22165    0.021277
22166    0.349227
22167    1.229927
22168    0.032967
22169    0.020833
Name: target, Length: 19244, dtype: float64

In [105]:
kf = KFold(n_splits=5)

enc_feat_list = []
for train_index, test_index in kf.split(all_data):
    enc_feat_list.append(all_data['item_id'].loc[test_index].map(all_data.loc[train_index].groupby('item_id').target.mean()))

all_data['item_target_enc'] = pd.concat(enc_feat_list)

In [108]:
pd.concat(enc_feat_list)

0           0.084746
1           0.021583
2                NaN
3           0.056995
4           0.040307
              ...
10913845         NaN
10913846    0.020408
10913847         NaN
10913848    0.020202
10913849         NaN
Name: item_id, Length: 10913850, dtype: float64

In [106]:
all_data['item_target_enc'].fillna(0.3343, inplace=True)

In [107]:
encoded_feature = all_data['item_target_enc'].values

# You will need to compute correlation like that
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('KFold_scheme', corr)

0.4166330182247348
Current answer for task KFold_scheme is: 0.4166330182247348

# 2. Leave-one-out scheme

Now, implement leave-one-out scheme. Note that if you just simply set the number of folds to the number of samples and run the code from the **KFold scheme**, you will probably wait for a very long time. 

To implement a faster version, note, that to calculate mean target value using all the objects but one *given object*, you can:

1. Calculate sum of the target values using all the objects.
2. Then subtract the target of the *given object* and divide the resulting value by `n_objects - 1`. 

Note that you do not need to perform `1.` for every object. And `2.` can be implemented without any `for` loop.

It is the most convenient to use `.transform` function as in **Method 2**.

In [33]:
all_data = all_data.drop('item_target_enc', axis=1)
all_data.head()

        shop_id  item_id  date_block_num  target
139255        0       19               0     0.0
141495        0       27               0     0.0
144968        0       28               0     0.0
142661        0       29               0     0.0
138947        0       32               0     6.0

In [42]:
means_by_item_id = all_data.groupby('item_id').target.sum()
lens_by_item_i = all_data.groupby('item_id').target.count()

In [44]:
all_data['item_target_enc'] = (all_data['item_id'].map(means_by_item_id) - all_data['target']) / all_data['item_id'].map(lens_by_item_i - 1)

all_data['item_target_enc'].fillna(0.3343, inplace=True) 

encoded_feature = all_data['item_target_enc'].values

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Leave-one-out_scheme', corr)

0.4803848311293002
Current answer for task Leave-one-out_scheme is: 0.4803848311293002

In [32]:
all_data.item_target_enc.value_counts()

0.334273    9307309
0.334273    1058825
0.334273     265502
0.334273     103227
0.334273      53327
             ...
0.334203          1
0.334228          1
0.334186          1
0.334240          1
0.334233          1
Name: item_target_enc, Length: 446, dtype: int64

# 3. Smoothing

Explained starting at 4:03 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Next, implement smoothing scheme with $\alpha = 100$. Use the formula from the first slide in the video and $0.3343$ as `globalmean`. Note that `nrows` is the number of objects that belong to a certain category (not the number of rows in the dataset).

In [ ]:
all_data = all_data.drop('item_target_enc', axis=1)

In [47]:
means_by_item_id = all_data.groupby('item_id').target.mean()
lens_by_item_i = all_data.groupby('item_id').target.count()

In [48]:
all_data['item_target_enc'] = (all_data['item_id'].map(means_by_item_id) * all_data['item_id'].map(lens_by_item_i) \
                               + 0.3343 * 100) / (all_data['item_id'].map(lens_by_item_i) + 100)

all_data['item_target_enc'].fillna(0.3343, inplace=True) 

encoded_feature = all_data['item_target_enc'].values

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Smoothing_scheme', corr)

0.4818198797097264
Current answer for task Smoothing_scheme is: 0.4818198797097264

# 4. Expanding mean scheme

Explained starting at 5:50 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Finally, implement the *expanding mean* scheme. It is basically already implemented for you in the video, but you can challenge yourself and try to implement it yourself. You will need [`cumsum`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.cumsum.html) and [`cumcount`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.cumcount.html) functions from pandas.

In [49]:
cumsum = all_data.groupby('item_id').target.cumsum() - all_data['target']
cumcnt = all_data.groupby('item_id').target.cumcount()

In [55]:
len(cumcnt)

10913850

In [52]:
cumsum.reset_index()

             index  target
0           139255     0.0
1           141495     0.0
2           144968     0.0
3           142661     0.0
4           138947     0.0
...            ...     ...
10913845  10768834   699.0
10913846  10769024    75.0
10913847  10769690   493.0
10913848  10771216   348.0
10913849  10770511  1320.0

[10913850 rows x 2 columns]

In [53]:
all_data['item_target_enc'] = cumsum / cumcnt

all_data

          shop_id  item_id  date_block_num  target  item_target_enc
139255          0       19               0     0.0              NaN
141495          0       27               0     0.0              NaN
144968          0       28               0     0.0              NaN
142661          0       29               0     0.0              NaN
138947          0       32               0     6.0              NaN
...           ...      ...             ...     ...              ...
10768834       59    22162              33     0.0         1.560268
10769024       59    22163              33     0.0         0.585938
10769690       59    22164              33     0.0         1.238693
10771216       59    22166              33     0.0         0.296170
10770511       59    22167              33     0.0         1.081967

[10913850 rows x 5 columns]

In [56]:


all_data['item_target_enc'].fillna(0.3343, inplace=True) 

encoded_feature = all_data['item_target_enc'].values

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Expanding_mean_scheme', corr)

0.5025245211081697
Current answer for task Expanding_mean_scheme is: 0.5025245211081697

## Authorization & Submission
To submit assignment parts to Cousera platform, please, enter your e-mail and token into variables below. You can generate token on this programming assignment page. Note: Token expires 30 minutes after generation.

In [109]:
STUDENT_EMAIL = ''
STUDENT_TOKEN = ''
grader.status()

You want to submit these numbers:
Task KFold_scheme: 0.4166330182247348
Task Leave-one-out_scheme: 0.4803848311293002
Task Smoothing_scheme: 0.4818198797097264
Task Expanding_mean_scheme: 0.5025245211081697

In [110]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)

Submitted to Coursera platform. See results on assignment page!